* {
  margin: 0;
}
html {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -293px;
}
.push {
  height: 293px;
}

/* body should center */
body {

  height: 100%;
  text-align: center;

  background-color: #3c3c3c;
  background-image: url('/images/bgtile.png');
  background-repeat: repeat-y;
  margin-right: -24px;
  width:478px;
  font-family: georgia, "Nimbus Roman No9 L", serif;
}

/* div contains grey padding */
.page {

  width: 900px;

  margin: 0px auto;


  text-align: left;

}

/* div rests inside beige plane */
.content {

  position: relative;
  z-order: 1;

  margin-top: -175px;



  padding-left: 75px;
  padding-right: 75px;

}

.footer {
  height: 293px;
  position: relative;
  width: 900px;
  margin: 0 auto;
  background: url(/images/footer.png) no-repeat;

}

.nav {
  position: relative;
  z-order: 1;

  text-align: center;

  width: 182px;

  color: #D2AF00;

  float:right;
}

.blob {

  position: relative;
  z-order: 1;

  margin-left: 54px;
  margin-bottom: 72px;

  width: 450px;
  margin-right: px;

}

img.header {

  position: relative;

  z-order: -1;

}

img.footer {

  position: relative;

  z-order: -1;

}

ul.navlist {
  list-style-type: none;
}

.post {
	margin-bottom: 15px;
	text-align: justify;
	line-height: 1.5em;
}

h2{
	font-size: 30px;
	padding-bottom: 10px;
}

table {
}

a:link, a:visited, a:hover, a:active {
	color: #D2AF00;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: #B28F00;
}
